*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Syne Mono', monospace;
}

.wrap {
  max-width: 1360px;
  margin: 0 auto;
  padding: 3.5rem 0 0;
}

.wrap .section-title {
  font-size: 2.4rem;
  text-align: center;
  padding: 4rem 0 3rem;
}

.wrap .section-title p.black {
  color: #000;
}

.wrap .section-title p.white {
  color: #fff;
}

.wrap .section-title .underline-green {
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background-color: seagreen;
}

.wrap .section-title .underline-white {
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background-color: #fff;
}

section {
  padding: 0 2rem;
}

header {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../img/header_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

header h1 {
  font-size: 2.8rem;
  text-align: center;
  color: #fff;
  padding: 3rem 1rem;
  z-index: 100;
}

header .a-header {
  padding: 1.5rem 3rem;
  background-color: seagreen;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 5px;
  z-index: 100;
}

header .a_header:hover {
  cursor: pointer;
}

header .up-down {
  position: absolute;
  bottom: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .up-down .fas {
  position: absolute;
  bottom: 21px;
  font-size: 3.9rem;
  color: seagreen;
  -webkit-animation: arrow 1s infinite;
          animation: arrow 1s infinite;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 21px;
  }
  40% {
    bottom: 30px;
  }
  60% {
    bottom: 18px;
  }
  100% {
    bottom: 21px;
  }
}

@keyframes arrow {
  0% {
    bottom: 21px;
  }
  40% {
    bottom: 30px;
  }
  60% {
    bottom: 18px;
  }
  100% {
    bottom: 21px;
  }
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 200;
}

header nav .logo {
  font-size: 4rem;
  color: #fff;
}

header nav .logo p {
  display: inline-block;
  padding-left: .75rem;
}

header nav .logo p span {
  font-weight: bold;
  color: seagreen;
}

header nav .bars-btn {
  font-size: 4rem;
  color: #fff;
  z-index: 100;
}

header nav .bars-btn .open {
  display: block;
}

header nav .bars-btn .close {
  display: none;
}

header nav .nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  -webkit-transition: .8s;
  transition: .8s;
}

header nav .nav-mobile ul {
  list-style-type: none;
}

header nav .nav-mobile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

header nav .nav-mobile ul li a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
}

header nav .active {
  left: 0;
}

header nav .nav-desktop {
  display: none;
}

section.aboutus .aboutus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.aboutus .aboutus-box .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 3rem;
}

section.aboutus .aboutus-box .content-box .box-img {
  font-size: 4rem;
  color: seagreen;
  padding: 0 0 .5rem;
}

section.aboutus .aboutus-box .content-box .box-txt {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

section.menu {
  width: 100%;
  background-color: #242424;
}

section.menu .menu-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.menu .menu-box .box-content {
  width: 100%;
  max-width: 340px;
  height: 320px;
  margin-bottom: 2rem;
}

section.menu .menu-box .box-content .box-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

section.menu .menu-box .box-content .box-img .one-info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 5px 5px 20px #000;
}

section.menu .menu-box .box-content .box-img .one-info p {
  font-size: 2rem;
  color: #fff;
  text-shadow: 5px 5px 20px #000;
}

section.menu .menu-box .box-content .one {
  background-image: url("../img/salad.jpg");
}

section.menu .menu-box .box-content .two {
  background-image: url("../img/dinner.jpg");
}

section.menu .menu-box .box-content .three {
  background-image: url("../img/chips.jpg");
}

section.menu .menu-box .box-content .four {
  background-image: url("../img/coffee.jpg");
}

section.menu .menu-box .box-content .five {
  background-image: url("../img/wine.jpg");
}

section.menu .menu-box .box-content:hover .box-img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

section.team .team-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.team .team-box .box-person {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 320px;
  height: 340px;
  min-height: 340px;
  margin: 1rem 1rem;
  overflow: hidden;
}

section.team .team-box .box-person .person-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

section.team .team-box .box-person .person-info {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 14%;
  background-color: seagreen;
}

section.team .team-box .box-person .person-info .title {
  display: block;
  font-size: 1.8rem;
  color: #fff;
}

section.team .team-box .box-person .person-info .name {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}

section.contact {
  width: 100%;
  background-color: #242424;
}

section.contact .contact-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .contact-box .contact-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

section.contact .contact-box .contact-text p.contact-info {
  font-size: 3rem;
  color: #fff;
  padding: 2rem 0;
}

section.contact .contact-box .contact-text p.contact-info span {
  color: seagreen;
  padding-left: .75rem;
}

section.contact .contact-box .contact-text p {
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem 0;
}

section.contact .contact-box .contact-text p span {
  padding-left: 1rem;
}

section.contact .contact-box .contact-text p a {
  text-decoration: none;
  color: #fff;
}

section.contact .contact-box .contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .contact-box .contact-form p {
  text-align: center;
  color: seagreen;
  font-size: 2rem;
  padding: 1.5rem 0;
}

section.contact .contact-box .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contact .contact-box .contact-form form input,
section.contact .contact-box .contact-form form textarea {
  width: 100%;
  margin: .5rem 0;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: center;
  color: #fff;
}

section.contact .contact-box .contact-form form button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
}

footer {
  width: 100%;
  color: #fff;
  padding: 2rem 0 1rem;
  background-color: seagreen;
  text-align: center;
  font-size: 1.6rem;
}

footer span {
  color: #242424;
  padding-left: 0.5rem;
}

@media (min-width: 576px) {
  section.aboutus .aboutus-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.aboutus .aboutus-box .content-box {
    width: 50%;
    margin-bottom: 3rem;
    padding: 0 0 3rem;
  }
  section.aboutus .aboutus-box .content-box .box-img {
    padding: 0 0 1rem;
  }
  section.menu .menu-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.menu .menu-box .box-content {
    width: 48%;
    max-width: 340px;
    height: 320px;
    margin: 0 0.5rem 2rem;
  }
  section.team .team-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.team .team-box .box-person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  header {
    background-image: url("../img/header_1280.jpg");
  }
  header nav {
    padding: 1rem 2rem;
  }
  header nav .logo {
    font-size: 3rem;
  }
  header nav .bars-btn {
    display: none;
  }
  header nav .nav-mobile {
    display: none;
  }
  header nav .nav-desktop {
    display: block;
  }
  header nav .nav-desktop ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .nav-desktop ul li {
    padding: 0 2rem;
  }
  header nav .nav-desktop ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    -webkit-transition: color .5s;
    transition: color .5s;
  }
  header nav .nav-desktop ul li a:hover {
    color: seagreen;
  }
  section.aboutus .aboutus-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.aboutus .aboutus-box .content-box {
    width: 25%;
    margin-bottom: 5rem;
  }
  section.aboutus .aboutus-box .content-box .box-img {
    font-size: 4rem;
  }
  section.aboutus .aboutus-box .content-box .box-txt {
    font-size: 1.6rem;
  }
  section.menu .menu-box .box-content {
    width: 31%;
  }
  section.team .team-box .box-person {
    width: 30%;
    height: 100%;
  }
  section.contact .contact-box {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.contact .contact-box .contact-text {
    width: 50%;
  }
  section.contact .contact-box .contact-text p.contact-info {
    font-size: 2.6rem;
    color: #fff;
    padding: 2.5rem 0;
  }
  section.contact .contact-box .contact-text p {
    padding: 1rem 0;
  }
  section.contact .contact-box .contact-form {
    width: 50%;
  }
  section.contact .contact-box .contact-form form {
    width: 90%;
  }
  section.contact .contact-box .contact-form form textarea {
    resize: none;
  }
}
/*# sourceMappingURL=style.css.map */